@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background:url('./src/assets/glowing-triangle-neon-pq.jpg') center center no-repeat;
  backdrop-filter: blur(40px); 
  box-sizing: border-box;

}

*{
  margin: 0;
  padding: 0;
}