/* Navbar Container */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding: 8px 35px;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
  transition: all 1s ease-in;
}

/* Logo */
.logo {
  font-size: 2.5rem;
  color: #3f396d;
  font-weight: bold;
}

/* Menu Icon */
.menu-icon {
  cursor: pointer;
  font-size: 2.5rem;
}

/* Nav Links */
.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 3rem;
  text-align: center;
  margin: auto;
  transition: all 1s ease-in;
}

.nav-item {
  padding: 0.5rem;
}

.open {
  display: block;
}

.nav-item a {
  text-decoration: none;
  color: black;
  font-size: 1.125rem;
}

.nav-item a:hover {
  color: orange;
}

#Navbtn {
  display: none;
}
ul {
  display: flex;
  gap: 1rem;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media (max-width: 850px) {
  .nav-links {
    margin-top: 2.5rem;
  }
  .contact-btn button {
    display: none;
  }

  ul {
    display: none;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  #Navbtn {
    display: block;
    transition: all 0.3s ease;
  }

  nav {
    flex-direction: column;
    align-items: flex-start !important;
  }

  nav ul .open {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
    opacity: 1;
    height: auto; 
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
}

li {
  position: relative;
  background: transparent;
  color: black;
  overflow: hidden;
  cursor: pointer;
}

li::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  margin-top: -10px;
  height: 3px;
  border-radius: 2px;
  background: darkorange;
  transition: all 0.3s ease;
  z-index: 5;
}

li:hover::before {
  width: 100%;
  height: 3px;
  left: 0;
}

li :hover {
  color: orange;
}
